@font-face {
    font-family: 'STUNNING-Bd';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/STUNNING-Bd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#lore {
    font-family: 'STUNNING-Bd';
    letter-spacing: 10px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    font-size: 20px;
}

#clock {
    font-size: 80px;
    letter-spacing: 10px;
    font-family: 'STUNNING-Bd';
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    color: transparent;
    background: linear-gradient(45deg, #3c98da, #a83dff);
    -webkit-background-clip: text;
    background-clip: text;
}

#date {
    padding: 10px;
    font-family: 'STUNNING-Bd';
    color: gray;
    letter-spacing: 5px;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 60%;
    left: 50%;
}

#secondChart {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: fixed;
    border: 12px solid #ccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#secondSlice {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip-path: polygon(50% 50%, 50% 0, 55% 0);
    background-color: transparent;
    border: 12px solid #387ccd;
    transform-origin: center;
    transform: rotate(0deg);
    top: -12px;
    left: -12px;
    transition: transform 0.5s ease;
}

#minuteChart {
    width: 577px;
    height: 577px;
    border-radius: 50%;
    position: fixed;
    border: 12px solid #ccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#minuteSlice {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip-path: polygon(50% 50%, 50% 0, 55% 0);
    background-color: transparent;
    border: 12px solid #2463a6;
    transform-origin: center;
    transform: rotate(0deg);
    top: -12px;
    left: -12px;
    transition: transform 0.5s ease;
}

#hourChart {
    width: 554px;
    height: 554px;
    border-radius: 50%;
    position: fixed;
    border: 12px solid #ccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#hourSlice {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip-path: polygon(50% 50%, 50% 0, 65% 0);
    background-color: transparent;
    border: 12px solid #174c8e;
    transform-origin: center;
    transform: rotate(0deg);
    top: -12px;
    left: -12px;
    transition: transform 0.5s ease;
}

#darkModeContainer {
    top: 70%;
    left: 50%;
    width: 100px;
    height: 50px;
    background-color: #ccc;
    border-radius: 50px;
    position: fixed;
    transform: translate(-50%, -50%);
    border: none;
}

#darkMode {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #efefef;
    border-radius: 50%;
    transform: translate(-110%, -50%);
    top: 50%;
    left: 50%;
}

#sun {
    width: 100%;
    height: 100%;
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(141deg) brightness(85%) contrast(88%);
}